* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 50%;
    margin: auto;
    height: 100px;
    font-size: 20px;
    padding-top: 40px;
    background-color: black;
    text-align: center;
    color: white;
}

.myList {
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

.myInput {
    display: flex;
    justify-content: space-between;
}

.myInput input {
    height: 40px;
    width: 60%;
}

.myInput button {
    width: 35%;
}

.myLista {
    padding-top: 20px;
}

.displayLista {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.text_barrato {
    text-decoration: line-through;
}

h3 {
    text-align: center;
}
