<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue To Do List</title>
</head>
<body>
    
    <header>
        Lista della spesa
    </header>

    <div id="myList" class="myList">

        <div class="myInput">
            <input type="text" placeholder="Scrivi un altro prodotto" v-model="anotherDo" @keyup.enter="addToDo">
            <button @click="addToDo">Aggiungi alla lista</button>
        </div>

        <div class="myLista">
            <div v-if="toDo.length > 0">
                <div class="displayLista" v-for="(item, index) in toDo" :key="index" :class="(item.done === true) ? 'text_barrato' : '' " @click="changeDone(index)">
                    {{ item.text }}
                    <i class="fas fa-times" @click="removeItemList(index)"></i>
                </div>
            </div>
            <h3 v-else>Bravo!!!Hai comprato tutto.</h3>
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/script.js"></script> 
</body>
</html>